name: CI

on:
    pull_request:
        types: [opened, reopened, synchronize]
        paths:
            - "/rl_mixed_traffic/**"
            - "tests/**"
            - ".github/workflows/ci.yml"
            - "pyproject.toml"
    push:
        branches:
            - main
        paths:
            - "/rl_mixed_traffic/**"
            - "tests/**"
            - ".github/workflows/ci.yml"
            - "pyproject.toml"

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up UV
              uses: astral-sh/setup-uv@v7
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  uv sync --all-extras

            - name: Run linter
              run: |
                  uv run ruff check rl_mixed_traffic tests

    test:
        strategy:
            matrix:
                os: ["windows"]
                include:
                    - os: "windows"
                      runs-on: windows-latest
        name: Test on ${{ matrix.os }}
        runs-on: ${{ matrix.runs-on }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up UV
              uses: astral-sh/setup-uv@v7
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  uv sync --all-extras

            - name: Run tests
              run: |
                  uv run pytest tests/ -v
